.abus-section1 {
  background: linear-gradient(to bottom, #e0e1e2, #fff 36%);
  padding: 25px 0 75px 0;
  .dflex {
    display: flex;
    justify-content: center;
  }
  h3 {
    text-align: center;
    margin: 0 0 57px 0;
  }
  h4 {
    margin: 0;
  }

  .first-block {
    max-width: 45%;
    padding: 0 30px 0 0;
  }
  .second-block {
    padding: 0 0 0 30px;
  }
  img {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}