.font-heading {
  font: 300 38px/42px "Open Sans", sans-serif;
  letter-spacing: -0.76px;
}

.main-text-font {
  font: 400 27px/40px "Barlow", sans-serif;
  color: #fff;
  letter-spacing: -0.27px;
}

.section2-font {
  font: 500 28px/45px "Barlow", sans-serif;
  letter-spacing: -0.28px;
}

.section3-font {
  font: 500 19px/40px "Barlow", sans-serif;
  letter-spacing: -0.19px;
}

.gallery-head-font {
  font: 400 20px/35px "Barlow", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.gallery-font {
  font: 500 19px/35px "Barlow", sans-serif;
  letter-spacing: -0.19px;
}

.section6-font {
  font: 400 19px/34px "Barlow", sans-serif;
  letter-spacing: -0.38px;
}

.section7-font {
  font: 400 19px/34px "Barlow", sans-serif;
  letter-spacing: -0.38px;
}

.question-font {
  font: 600 21px/28px "Barlow", sans-serif;
  letter-spacing: -0.42px;
}

.answer-font {
  font: 400 19px/28px "Barlow", sans-serif;
  letter-spacing: -0.38px;
}

.semi-bold-font {
  font: 600 25px/30px "Barlow", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.p-about-as-font {
  font: 600 16px/24px "Barlow", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.32px;
}

.count-head-font {
  font: 600 25px/35px "Barlow", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.count-font {
  font: 600 77px/35px "Barlow", sans-serif;
  color: #51b4bd;
  letter-spacing: -1.54px;
}

.count-font-box {
  font: 500 16px/25px "Barlow", sans-serif;
  color: #505050;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: #333;
}

.text-light-green {
  color: #cbe4b3;
}

.text-blue {
  color: #00a4e4;
}


