.font-heading {
  font: 300 38px/42px "Open Sans", sans-serif;
  color: #333;
  letter-spacing: -0.76px;
  &-white {
    font: 300 38px/42px "Open Sans", sans-serif;
    color: #fff;
    letter-spacing: -0.76px;
  }
}

.main-text-font {
  /* Style for "Gain cryst" */
  font: 400 27px/40px "Barlow", sans-serif;
  color: #ffffff;
  letter-spacing: -0.27px;
}

