.font-heading {
  font: 300 38px/42px "Open Sans", sans-serif;
  letter-spacing: -0.76px;
}

.main-text-font {
  font: 400 27px/40px "Barlow", sans-serif;
  color: #fff;
  letter-spacing: -0.27px;
}

.section2-font {
  font: 500 28px/45px "Barlow", sans-serif;
  letter-spacing: -0.28px;
}

.section3-font {
  font: 500 19px/40px "Barlow", sans-serif;
  letter-spacing: -0.19px;
}

.gallery-head-font {
  font: 400 20px/35px "Barlow", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.gallery-font {
  font: 500 19px/35px "Barlow", sans-serif;
  letter-spacing: -0.19px;
}

.section6-font {
  font: 400 19px/34px "Barlow", sans-serif;
  letter-spacing: -0.38px;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: #333;
}

.text-light-green {
  color: #cbe4b3;
}



