.section7 {
  background-color: #f2f2f2;
  padding: 24px 0;
  .d-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
  .content-block {
    max-width: 60%;
  }
  .link-block a {
    margin: 25px 0 25px;
    display: block;
  }
}