.section8 {
  background-color: #65aa19;
  padding: 33px 0 40px;
  .d-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10%;
  }
  .content-block {
    max-width: 50%;
  }
  h3 {
    margin: 0;
  }
}