.section2 {
  background-color: #294b09;
  padding-top: 45px;
  padding-bottom: 45px;
  .section2-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  p {
    max-width: 814px;
    margin: 0 0 15px;
  }
}