.section1 {
  min-height: 800px;
  padding-top: 37px;
  padding-bottom: 37px;
  text-align: right;
  p {
    max-width: 562px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 50px;
  }
}